body{
    font-family: Roboto, Helvetica, sans-serif;
}
.container{
    display: block ;
    text-align: center;
    margin: 5px;
    font-size: 13px;
}
.container h1{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #444444;
    text-align: center;
}
.container .offer{
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: 1px solid #cccccc;
}
.offer .offerTitle{
    font-size: 14px;
    color: white;
    background-color: #00b3b3;
    padding: 15px;
}
.offer .offerTitle .offerContents{
    padding: 20px;
    background-color: #fafafa;
}

table{
    width: 100%;
    background-color: #FFFFFF;
    border-spacing: 0;
}
table tr th{
    font: 12px;
    color: #777777;
    padding: 10px;
    margin: 0;
    text-align: left;
    border-bottom: 1ps solid #f1f1f1;
}
table tr td{
    font-weight: 400;
    color: #444444;
    padding: 20px 10px;
    text-align: left;
    border-bottom: 1ps solid #f1f1f1;
}

.finalValue{
    font-weight: bold;
    color: #2222ff;
}